<%= form_with(model: wslog, local: true) do |form| %>
  <% if wslog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wslog.errors.count, "error") %> prohibited this wslog from being saved:</h2>

      <ul>
      <% wslog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :params %>
    <%= form.text_field :params, id: :wslog_params %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
