<p id="notice"><%= notice %></p>

<h1>Wslogs</h1>

<table>
  <thead>
    <tr>
      <th>Params</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wslogs.each do |wslog| %>
      <tr>
        <td><%= wslog.params %></td>
        <td><%= link_to 'Show', wslog %></td>
        <td><%= link_to 'Edit', edit_ws_log_path(wslog) %></td>
        <td><%= link_to 'Destroy', wslog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wslog', new_ws_log_path %>
